@model IEnumerable<API_DOTNET.DTO.PostDTO>

@{
    ViewData["Title"] = "Lista Post";
}
<style>
    .divs{
        height: 100%;
        display: flex;
        justify-content: center; /* Centrado horizontal */
        align-items: center;
    }
</style>
<div class="divs">
    <h1>Lista de Posts</h1>
</div>
<div class="divs">
    <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Create" style="border: 1px black solid; width: auto; display: inline; border-radius: 5px;">Crear nuevo post</a>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                ID
            </th>
            <th>
                Titulo
            </th>
            <th>
                Descripción
            </th>
            <th>
                Eliminar
            </th>
            <th>
                Actualizar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.userId
                </td>
                <td>
                    @item.id
                </td>
                <td>
                    @item.title
                </td>
                <td>
                    @item.body
                </td>
                <td>
                    <a asp-controller="Post" asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
                </td>
                <td>
                    <a asp-controller="Post" asp-action="Update" asp-route-id="@item.id">Actualizar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
